@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,900;1,900&display=swap");
.navbar-light {
  border-bottom: solid 0.1rem #86A8FF;
}

.navbar-dark .navbar-nav .nav-link {
  color: #86A8FF;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #bde7f0;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: #7BCFE1;
}

.navbar-dark .navbar-nav .nav-link.active:focus, .navbar-dark .navbar-nav .nav-link.active:hover, .navbar-dark .navbar-nav .show > .nav-link:focus, .navbar-dark .navbar-nav .show > .nav-link:hover {
  color: #bde7f0;
}

/* =============
  MAIN STYLES
=============== */
.btn-outline-primary {
  border-radius: 0;
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
          box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  color: #2E3A59 !important;
  border-color: #2E3A59 !important;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:active:focus {
  background-color: #F2F7FF;
}

.btn-outline-primary:active:focus {
  color: #55859d !important;
  border-color: #55859d !important;
}

.btn-outline-primary:focus {
  color: #2E3A59;
  border-color: #2E3A59;
}

.btn-outline-primary:active:focus {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0rem 0.15rem 0.3rem rgba(59, 158, 180, 0.5) !important;
          box-shadow: 0rem 0.15rem 0.3rem rgba(59, 158, 180, 0.5) !important;
}

.btn-outline-primary:hover, .btn-outline-primary:active {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
  -webkit-box-shadow: 0.05rem 0.15rem 0.5rem 0rem rgba(59, 158, 180, 0.5) !important;
          box-shadow: 0.05rem 0.15rem 0.5rem 0rem rgba(59, 158, 180, 0.5) !important;
}

.none-button {
  border: none;
  background-color: transparent;
  font-size: x-small;
  text-transform: uppercase;
  font-weight: normal;
  color: #2E3A59 !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler small {
  text-transform: uppercase !important;
  font-size: x-small;
}

.display-2, .display-3, .display-4, .display-5, .display-6 {
  font-weight: normal;
}

@media (hover: hover) {
  body::-webkit-scrollbar, div::-webkit-scrollbar, #test-properties::-webkit-scrollbar {
    width: .6em;
  }
  body::-webkit-scrollbar-track, div::-webkit-scrollbar-track, #test-properties::-webkit-scrollbar-track {
    background-color: #e5e9f5;
  }
  body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb, #test-properties::-webkit-scrollbar-thumb {
    background-color: #d9e0f2;
    border-radius: .3em;
    width: .5em;
    border: 1px solid #e5e9f5;
    -webkit-box-shadow: inset 1px 1px 1px rgba(14, 17, 27, 0.2), inset 2px 2px 0px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(14, 17, 27, 0.3);
            box-shadow: inset 1px 1px 1px rgba(14, 17, 27, 0.2), inset 2px 2px 0px rgba(255, 255, 255, 0.4), inset -2px -2px 2px rgba(14, 17, 27, 0.3);
  }
}

/* =============
  ICONS
=============== */
.my-icon {
  color: inherit;
  position: relative;
  display: inline-block;
  min-width: 1.2em;
  min-height: 1.2em;
  top: -.15em;
}

.icon-happy {
  top: .25em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../assets/icons/happy.svg");
}

/* =============
  MAIN STYLES
=============== */
.border-white {
  border-color: white !important;
}

#asrs-logo {
  color: #0F618A;
  min-height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.success {
  color: green;
}

.danger {
  color: darkred;
}

/* =============
  TEXT
=============== */
.tab::after {
  content: "\00A0\00A0\00A0";
}

p {
  text-align: justify;
}

body {
  font-family: 'Lato', sans-serif !important;
  color: #2E3A59;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Lato', sans-serif !important;
  font-weight: 700;
}

.navbar-nav {
  font-weight: 700 !important;
}

/* =============
  LAYOUT
=============== */
section {
  padding-top: 8em;
  padding-bottom: 6em;
  margin-top: -60px;
}

section:last-child {
  margin-bottom: 6rem;
}

body {
  position: relative;
}

.main-wrapper {
  max-width: 50em;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  #main-content .asrs-form-li {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
  }
  #main-content .asrs-form-row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}

@media screen and (min-width: 500px) {
  #main-content .asrs-question {
    min-width: 4em;
    white-space: nowrap;
    overflow: hidden;
  }
}

.sidebar {
  position: fixed;
  z-index: 500;
  top: 60px;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: white;
}

.sidebar .accordion-item, .sidebar .accordion-header, .sidebar .accordion-button {
  background: transparent !important;
  color: inherit;
}

.sidebar .accordion-button:not(.collapsed) {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.sidebar #asrs-logo {
  position: relative;
}

.sidebar .sidebar-collapse-button {
  display: none;
  padding: 1em;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 991px) {
  .sidebar {
    -webkit-transition: left .8s !important;
    transition: left .8s !important;
    max-width: 25em;
  }
  .sidebar .sidebar-collapse-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sidebar.collapsed {
    -webkit-transition: left 1.1s !important;
    transition: left 1.1s !important;
    left: -30em;
  }
}

.sidebar-show-button {
  display: none;
}

@media (max-width: 991px) {
  .sidebar-show-button {
    display: inline-block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    -webkit-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .sidebar-show-button.show {
    opacity: 0;
    visibility: hidden;
  }
}

#test-properties {
  /*
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  */
  background-color: transparent;
}

#test-properties .title {
  color: #2E3A59;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
}

#test-properties .accordion-button:hover, #test-properties h4:hover {
  color: #3153aa;
}

.main-content {
  padding: 0 1rem;
}

@media screen and (min-width: 1000px) {
  .main-content {
    padding: 0 2rem;
  }
}

.results-container {
  min-height: 46em;
}

/* =================
  FORMULARZ
==================== */
#test {
  min-height: 173em;
}

.asrs-form-container p, .results-container p {
  text-align: left;
}

@media screen and (max-width: 991px) {
  .asrs-form-container, .results-container {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .asrs-form-container {
    padding: 3em !important;
  }
  .results-container {
    padding: 0 !important;
  }
  .results-table-container {
    padding: 1em !important;
  }
  .asrs-form-list {
    padding-left: 1em;
    padding-right: 0;
    margin-left: auto;
  }
  .asrs-form-list .asrs-form-li {
    margin-left: auto;
  }
}

form.asrs-form {
  position: relative;
}

.asrs-form-list li {
  font-style: italic;
}

#main-content .asrs-form-row {
  font-style: italic;
  margin-bottom: .5em;
}

#main-content .asrs-form-row p {
  margin-bottom: 0;
}

/* =================
  FORM RADIO BUTTONS
==================== */
.asrs-radio-group {
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .asrs-radio-group {
    margin-left: 0;
  }
}

.my-radio-button {
  display: inline-block;
  position: relative;
  padding: 0 6px;
}

.my-radio-button input[type="radio"] {
  display: none;
}

.my-radio-button label {
  color: #2E3A59;
  font-weight: normal;
}

.my-radio-button input:checked + label {
  color: #0F618A;
  font-weight: bold;
}

.my-radio-button input:checked + label:hover {
  font-weight: inherit;
  color: #00d0ff !important;
}

.my-radio-button input:checked + label:hover:after {
  background: #00d0ff !important;
  top: 9px;
  left: 4px;
  position: absolute;
}

.my-radio-button input:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: 10px;
  content: " ";
  display: block;
  background: #7BCFE1;
}

.my-radio-button input:checked + label:before {
  border: 2px solid #7BCFE1;
}

.my-radio-button label:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  color: #00d0ff !important;
}

.my-radio-button label:hover:before {
  border: 2px solid #00d0ff !important;
}

.my-radio-button label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #2E3A59;
  background-color: transparent;
}

.asrs-radio-group:hover .my-radio-button label {
  color: #1785ac;
}

.asrs-radio-group:hover .my-radio-button label:before {
  border: 2px solid #1785ac;
}

.asrs-radio-group:hover .my-radio-button input:checked + label {
  font-weight: bold;
  color: #13739b;
}

.asrs-radio-group:hover .my-radio-button input:checked + label:after {
  background: #1785ac;
}

.asrs-radio-group:hover .my-radio-button input:checked + label:before {
  border: 2px solid #1785ac;
}

.asrs-radio-group.radio-group-active:hover .my-radio-button label {
  color: #09bbca;
}

.asrs-radio-group.radio-group-active:hover .my-radio-button label:before {
  border: 2px solid #09bbca;
}

.asrs-radio-group.radio-group-active:hover .my-radio-button input:checked + label {
  font-weight: bold;
  color: #0c8eaa;
}

.asrs-radio-group.radio-group-active:hover .my-radio-button input:checked + label:after {
  background: #09bbca;
}

.asrs-radio-group.radio-group-active:hover .my-radio-button input:checked + label:before {
  border: 2px solid #09bbca;
}

.asrs-radio-group.radio-group-active .my-radio-button label {
  color: #0faea7;
}

.asrs-radio-group.radio-group-active .my-radio-button label:before {
  border: 2px solid #0faea7;
}

.asrs-radio-group.radio-group-active .my-radio-button input:checked + label {
  font-weight: bold;
  color: #0f8799;
}

.asrs-radio-group.radio-group-active .my-radio-button input:checked + label:after {
  background: #0faea7;
}

.asrs-radio-group.radio-group-active .my-radio-button input:checked + label:before {
  border: 2px solid #0faea7;
}

/* =================
  TEKST PYTAŃ
==================== */
.asrs-question {
  text-align: left;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 100%;
}

.completion-icon {
  display: none;
  min-width: 1rem;
}

.completion-icon svg {
  display: none;
}

/*
*/
.asrs-form-li.completed .asrs-question::before {
  color: #0faea7;
  display: inline-block;
  content: '\2714';
  margin-right: .5em;
}

.last-question-clicked .asrs-form-li.uncompleted .asrs-question::before, .last-question-clicked .asrs-form-li:not(.completed) .asrs-question::before {
  color: darkred;
  display: inline-block;
  content: '\2718';
  margin-right: .5em;
}

/* =================
  WYNIKI
==================== */
.test-results table {
  margin-bottom: 0;
}

.test-results tbody th {
  font-weight: normal;
}

.test-results tbody tr:nth-child(odd) {
  background: #ebf0ff;
}

.test-results tbody tr:nth-child(odd):hover {
  background: #d5eeff;
}

.test-results tbody tr:nth-child(even):hover {
  background: #e3faff;
}

.test-results tbody tr > td.scale-type {
  vertical-align: middle;
  background: #fff !important;
}

.test-results .label {
  text-transform: uppercase;
}

/* =================
  ELEMENTY
==================== */
#app-info2 {
  font-size: 1.1rem !important;
}

#app-info2 .modal-body {
  min-height: 50vh;
}

span.keyshortcut {
  font-size: .9em;
  font-weight: bold;
  -webkit-transform: scaleY(0.9);
          transform: scaleY(0.9);
  display: inline-block;
  border: .078em solid black;
  border-radius: .2em;
  margin: 0 .18em;
  line-height: 1;
  padding: 0.11em 0.5em 0.2em;
  background: #ffffff;
  -webkit-box-shadow: 0 .1em 0 .1em #e2e2e2,  0 .15em 0 .14em #000000,  .05em .16em .1em .14em #00000031;
          box-shadow: 0 .1em 0 .1em #e2e2e2,  0 .15em 0 .14em #000000,  .05em .16em .1em .14em #00000031;
}

span.keyshortcut.downarrow::after, span.keyshortcut.uparrow::after {
  display: block;
  content: '\2794';
}

span.keyshortcut.downarrow {
  padding: .06em .18em .25em .24em;
}

span.keyshortcut.downarrow::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

span.keyshortcut.uparrow {
  padding: .06em .24em .25em .18em;
}

span.keyshortcut.uparrow::after {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
/*# sourceMappingURL=main.css.map */