
@import './variables';
$markul-color-navActiveLight-pure: #00d0ff;


$markul-color-sidebar: white;// $markul-color-grey;// #edf1f5;//
.sidebar {
  position: fixed;
  z-index: 100;
  top: 60px;
  left: 0;
  bottom: 0;
  overflow-y: auto;



  // overflow-x: hidden;

  background-color: $markul-color-sidebar;
  // margin-top: 56px; // padding-top: 56px;
  .accordion-item, .accordion-header, .accordion-button {
    background: transparent !important;
    color: inherit;
  }
  .accordion-button:not(.collapsed) {
    box-shadow: none !important;
  }

  
  
}

// .sidebar {
//   #asrs-logo {
//     position: relative;
//   }

//   // background-color: red;
//   .sidebar-collapse-button {
//     display: none;
//     margin: 1rem;

//     position: absolute;
//     right: 0;
//     top: 0;
//   }
  
//   @media (max-width: $mediumScreenSize) {
//     // transition-property:  width, right, opacity, display; 
//     // transition-duration: 2s, 0s, 2s, 2s;
//     // transition-delay: 5s, 0, 0, 0;
//     // transition: width 2s 5s, right 0s, opacity 2s, display 2s; 

//     .sidebar-collapse-button {
//       display: block;
//     }

//     $dt: .2s;
//     &.collapsed {
//       transition: width $dt, right $dt, opacity $dt, display $dt; 
//       * :not(.sidebar-collapse-button) {
//         display: none;
//         opacity: 0;
//       }
//       width: 0;
//       .sidebar-collapse-button {
//         right: -8rem;    
//         background-color: white;   
//       }
//     }
//     &:not(.collapsed) {
//       transition: width $dt, right $dt, opacity $dt 2s, display $dt; 

//       * :not(.sidebar-collapse-button) {
//         opacity: 1;
//       }
//       width: 80%;

//     }
//   }
// }

// SIDEBAR COLLAPSING

.sidebar {
  transition: left .5s;
  #asrs-logo {
    position: relative;
  }

  // background-color: red;
  .sidebar-collapse-button {
    display: none;
    padding: 1em;
    position: absolute;
    right: 0;
    top: 0;
    // position: fixed;
    // right: 50px;
    // top: 200px;
    
  }
  
  @media (max-width: $mediumScreenSize) {
    $sidebarWidth: 90%;
    width: $sidebarWidth;

    .sidebar-collapse-button {
      display: flex;
      flex-direction: row;
      align-items: center;
    }    
    &.collapsed {
      left: -$sidebarWidth;
      // .sidebar-collapse-button {
      //   right: -5em;    
      // }
    }
  }
}
@media (max-width: $mediumScreenSize) {
  .sidebar-show-button {
    position: fixed;
    bottom: 1em;
    right: 1em;
    

  }
}


#test-properties {
  /*
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  */
  
  background-color: transparent;

  .title {
    color: $markul-color-primaryDark;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
    // font-style: italic;
    text-transform: uppercase;
    font-size: 1em;
  }
  .accordion-button, h4 {
    &:hover {
      color: $markul-color-primaryDark-hover;
    }
  }
}


.main-content {
  padding: 0 1rem;    
  @media screen and (min-width: 1000px) {
    padding: 0 2rem;    
  } 
}

.results-container {
  min-height: 46em;
}



/* =================
  FORMULARZ
==================== */ 

#test {
  min-height: 173em;
}



.asrs-form-container, .results-container { //.results-table-container
  p {
    text-align: left;
  }
  // margin-bottom: 10em;






}
@media screen and (max-width: $mediumScreenSize) {
  .asrs-form-container, .results-container {
    // margin: 0;  
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100%;
  }    
}

@media screen and (max-width: $smallScreenSize) {
  .asrs-form-container { 
    padding: 5em !important;
  }
  .results-container {
    padding: 0 !important;
  }
  .results-table-container { 
    padding: 1em !important;
  }

  .asrs-form-list {
    padding-left: 0;
    padding-right: 0;
  }
}



form.asrs-form {
  position: relative;
}

.asrs-form-list {
  li {
    font-style: italic;
  }
}

#main-content {
  .asrs-form-row {
    font-style: italic;
    margin-bottom: .5em;
    p {
      margin-bottom: 0;
    }
  }  
}


/* =================
  FORM RADIO BUTTONS
==================== */ 
$markul-color-group-hover: $markul-color-navActiveLight-pure;

.asrs-radio-group {
  font-size: 1.1rem;
  display: flex;
  flex-wrap: nowrap;
  max-width: max-content;
  min-width: max-content;
  margin-left: auto;

  @media screen and (max-width: $mediumScreenSize) {
    margin-left: 0;
  }

}

// ..................
// WERSJA 2
// ..................


.my-radio-button {
  display: inline-block;
  position: relative;
  padding: 0 6px;
}


// SINGLE RADIO BUTTON
$color-radioButtonChecked: $markul-color-navActiveLight;// rgb(48, 168, 0);  // $markul-color-secondary
$color-labelButtonChecked: $markul-color-navActive;// rgb(27, 94, 0); 


.my-radio-button {
  input[type="radio"] {
    display: none;
  }

  label {
    color: $markul-color-primaryDark;
    font-weight: normal;
  }

  input:checked { // [type=radio]

    + label {
      color: $color-labelButtonChecked;
      font-weight: bold;
      &:hover {
        font-weight: inherit;
        color: $markul-color-group-hover !important;
        &:after {
          background: $markul-color-group-hover !important;
          top: 9px;
          left: 4px;

          position: absolute;
        }      
      }

      &:after {
        border-radius: 11px;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 9px;
        left: 10px;
        content: " ";
        display: block;
        background: $color-radioButtonChecked;

        
      }    
      &:before {
        border: 2px solid $color-radioButtonChecked;
      }
    }  
  }

  label {
    &:hover {
      transform: scale(1.15);
      color: $markul-color-group-hover !important;
      &:before {
        border: 2px solid  $markul-color-group-hover !important;
      }      
    }

    &:before {
      content: " ";
      display: inline-block;
      position: relative;
      top: 5px;
      margin: 0 5px 0 0;
      width: 20px;
      height: 20px;
      border-radius: 11px;
      border: 2px solid  $markul-color-primaryDark;
      background-color: transparent;
      // &:hover {
      //   border: 2px solid  $markul-color-group-hover !important;
      // }
    }
  }


}


$markul-color-radio-active: ($markul-color-green + $markul-color-navActiveLight-pure +  $markul-color-primaryDark) / 3;
.asrs-radio-group {
  
  $markul-color-radio-active: ($markul-color-green + $markul-color-navActiveLight-pure +  $markul-color-primaryDark) / 3;
  // $markul-color-radio-active: ($markul-color-navActiveLight-pure + $markul-color-primaryDark +  $markul-color-primaryLight) / 3;
  $markul-color-radio-group-hover: ($markul-color-navActiveLight-pure +  $markul-color-primaryDark) / 2;
  $markul-color-radio-group-hover-active: ($markul-color-navActiveLight-pure + $markul-color-radio-active*1.5) / 2.5;
  
  
  
  &:hover {    
    .my-radio-button label {
      color: $markul-color-radio-group-hover;
      &:before {
        border: 2px solid  $markul-color-radio-group-hover;
      }
    }
    .my-radio-button input:checked { // [type=radio]
      + label {
        font-weight: bold;  
        color: ($markul-color-radio-group-hover+$color-labelButtonChecked)/2;
        &:after {
          background: $markul-color-radio-group-hover;
        }    
        &:before {
          border: 2px solid $markul-color-radio-group-hover;
        }
      }  
    }
  }
  &.radio-group-active:hover {    
    .my-radio-button label {
      color: $markul-color-radio-group-hover-active;
      &:before {
        border: 2px solid  $markul-color-radio-group-hover-active;
      }
    }
    .my-radio-button input:checked { // [type=radio]
      + label {
        font-weight: bold;  
        color: ($markul-color-radio-group-hover-active + $color-labelButtonChecked)/2;
        &:after {
          background: $markul-color-radio-group-hover-active;
        }    
        &:before {
          border: 2px solid $markul-color-radio-group-hover-active;
        }
      }  
    }
  }

  &.radio-group-active {    
    .my-radio-button label {
      color: $markul-color-radio-active;
      &:before {
        border: 2px solid  $markul-color-radio-active;
      }
    }
    .my-radio-button input:checked { // [type=radio]
      + label {
        font-weight: bold;  
        color: ($markul-color-radio-active+$color-labelButtonChecked)/2;
        &:after {
          background: $markul-color-radio-active;
        }    
        &:before {
          border: 2px solid $markul-color-radio-active;
        }
      }  
    }
  }
}

/* =================
  TEKST PYTAŃ
==================== */ 

.asrs-question {
  text-align: left;
  min-width: max-content;
  max-width: 100%;
  
}

.completion-icon {
  display: none;
  // display: inline-block;
  min-width: 1rem;
  svg {
    display: none;
  }
}

// .asrs-form-li {
//   &.completed {
//     .icon-success {
//       // display: none;
//       display: inline-block;
//       min-width: 1rem;
//       svg {
//         display: inline-block;
//       }
//     }
//   }
//   &.uncompleted {
//     .icon-danger {
//       // display: none;
//       display: inline-block;
//       min-width: 1rem;
//       svg {
//         display: inline-block;
//       }
//     }
//   }
// }





// IT WAS EARLIER FOR SUCCESS:

/*
*/ 

.asrs-form-li.completed {
  .asrs-question {
    &::before {
      // color: $markul-color-activeLight;
      color: $markul-color-radio-active;
      display: inline-block;
      content: '\2714';
      // content: url('../assets/icons/success.svg');
      margin-right: .5em;
    }
  }
} 


.last-question-clicked {
  .asrs-form-li.uncompleted, .asrs-form-li:not(.completed) {
    .asrs-question {
      &::before {
        color: $markul-color-danger;
        display: inline-block;
        content: '\2718';
        margin-right: .5em;
      }
    }
  } 

}








// .asrs-form-row {
//   .asrs-question {
//     &.completed {
//       color: green;
//       &::before {
//         display: inline-block;
//         content: '  \2714';
//         margin-right: 1rem;
//       }
//     }
//   }
// }
// uncompleted



/* =================
  WYNIKI
==================== */ 

.test-results {
  table {
    margin-bottom: 0;
  }

  tbody {
    th {
      font-weight: normal;
    }
    tr{
      $n: 9;
      $table-odd-bg: ($markul-color-primary + $n*rgb(255, 255, 255)) / ($n+1); // rgb(240, 240, 240);

      $n1: 10;
      $hover-tr: ($markul-color-navActiveLight + $n1*#fff)/(1+$n1);
      
      $n2: .5;
      $hover-tr-odd: ($markul-color-navActiveLight-pure + $n2*#fff)/(1+$n2);

      &:nth-child(odd) {
        
        background: $table-odd-bg;
        &:hover {
          $n: 6;
          background: ($hover-tr-odd + $n*$table-odd-bg)/(1+$n);
        }
      }

      &:nth-child(even) {
        $n: 5;
        &:hover {
          background: ($hover-tr-odd + $n*#fff)/(1+$n);
        }
      }   

      
      &>td.scale-type {
        vertical-align: middle;
        background: #fff !important;      
      }  
    }

    
  }
  .label {
    text-transform: uppercase;
    // font-weight: normal;
  }
}









/* =================
  ELEMENTY
==================== */ 

#app-info2 {
  // font-size: 1.2rem !important;
  font-size: 1.1rem !important;
  .modal-body {
    min-height: 50vh;
  }
}

$key-padding: .11em .5em 0.2em;

span.keyshortcut {
  font-size: .9em;
  font-weight: bold;
  transform: scaleY(.9);
  // transform: scale(.78);
  display: inline-block;
  border: .078em solid black;
  border-radius: .2em;
  margin: 0 .18em;
  line-height: 1;
  padding: $key-padding;
  background: #ffffff;
  box-shadow: 0 .1em 0 .1em #e2e2e2,  0 .15em 0 .14em #000000,  .05em .16em .1em .14em #00000031;  
  &.downarrow, &.uparrow {
    &::after {
      display: block;
      content: '\2794';
    }
  }
  &.downarrow {
    padding: .06em .18em .25em .24em;    
    &::after {
      transform: rotate(90deg);
    }
  }

  &.uparrow {
    padding: .06em .24em .25em .18em;  
    &::after {
      transform: rotate(-90deg);
    }
  }
}

// span.keyshortcut {
//   font-size: .9em;
//   font-weight: bold;
//   transform: scaleY(.9);
//   // transform: scale(.78);
//   display: inline-block;
//   border: .078em solid black;
//   border-radius: .2em;
//   margin: 0 .18em;
//   line-height: 1;
//   padding: $key-padding;
//   background: #ffffff;
//   box-shadow: 0 .1em 0 .1em #e2e2e2,  0 .15em 0 .14em #000000,  .05em .16em .1em .14em #00000031;  
//   &.downarrow, &.uparrow {
//     &::after {
//       display: block;
//       content: '\2794';
//     }
//   }
//   &.downarrow {
    
//     padding: .06em .18em .25em .24em;    
//     &::after {
//       transform: rotate(90deg);
//     }
//   }

//   &.uparrow {
//     padding: .06em .24em .25em .18em;  
//     &::after {
//       transform: rotate(-90deg);
//     }
//   }
// }








